header {
	background-color: black;
	align-content: center;
	text-align: center;
}
nav {
	display: inline-block;
	padding: 10px 0;
}
body {
	align-content: center;
	text-align: center;
}
h1 {
	color: white;
}
.titles {
	text-transform: capitalize;
}
.profile {
	border-radius: 50%;
	border-color: white;
	border-width: 2px;
}
ul {
	display: inline-block;
	text-align: center;
}
li {
	text-align: left;
}
