* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}
body {
	margin: 0;
	text-align: center;
	background-color: lightgray;
}
header {
	background-color: black;
	margin: 0;
	height: 320px;
	min-width: fit-content;
	overflow: hidden;
}
nav {
	display: inline-block;
	padding: 10px;
	top: 100px;
	right: 10px;
	bottom: 10px;
}
.header-titles {
	font-size: 3rem;
}
.header-left {
	padding: 20px 10px 10px;
}
.menu {
	display: flex;
	justify-content: center;
	font-size: 25px;
}
.nav-space {
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
h1 {
	color: white;
}
p {
	max-width: 700px;
	margin: auto;
}
section {
	margin: 80px 0;
}
.profile {
	border-radius: 50%;
	max-height: 100px;
	max-width: 100px;
}
ul {
	display: inline-block;
	text-align: center;
}
li {
	text-align: center;
}
.ul-section {
	display: inline-block;
	text-align: center;
}
.li-section {
	text-align: left;
}

@media screen and (min-device-width: 320px) and (max-device-width: 980px) {
	body {
		background-color: lightgray;
	}
	header {
		background-color: black;
		min-width: fit-content;
		max-height: 300vh;
	}
	h1 {
		color:white;
	}
	.header-left {
		padding: 20px 10px 10px;
	}
	nav {
		display: inline-block;
		padding: 10px;
		top: 100px;
		right: 10px;
		bottom: 10px;
	}
	p {
		font-size: 1rem;
	}
	.header-titles {
		font-size: 3.25rem;
	}
	.body-titles {
		font-size: 2.5rem;
	}
	section {
		padding: 20px;
	}
	ul {
		display: inline-block;
		text-align: center;
		font-size: 1.5rem;
	}
	li {
		text-align: center;
	}
	.ul-section {
		display: inline-block;
		text-align: center;
		font-size: 1.5rem;
	}
	.li-section {
		text-align: left;
	}
}
