header {
	background-color: black;
	align-content: center;
	text-align: center;
}
body {
	align-content: center;
	text-align: center;
}
h1 {
	color: white;
}
.titles {
	text-transform: capitalize;
}
.profile {
	border-radius: 50%;
	border-color: white;
	border-width: 2px;
}
ul {
	text-align: center;
}
